[Unit]
Description=Use less power
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
;ExecStart=/usr/bin/undervolt -v --core -200 --cache -200 --gpu -220 --uncore -100 --analogio -100 -p1 45 28 -p2 54 0.002
ExecStart=/home/da/.local/bin/fewvolts

[Install]
WantedBy=multi-user.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
