<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/home/davide/.local/share/icons/Vertex-Icons/apps/96/file-manager.svg"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/home/davide/.local/share/icons/Flattr/apps/64/terminal.svg"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Web Browser" icon="/home/davide/.local/share/icons/Flattr/apps/64/web-browser.svg"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/system-run.svg"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="Accessories" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/96/applications-utilities.svg" label="Accessories">
    <item label="About Xfce" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/help-about.svg"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Application Finder" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/edit-find.svg"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
    <item label="Archive Manager" icon="/usr/share/icons/hicolor/32x32/apps/file-roller.png"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Bulk Rename" icon="/usr/share/icons/hicolor/64x64/apps/Thunar.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="compton" icon="/usr/share/icons/hicolor/scalable/apps/compton.svg"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="Disks" icon="/usr/share/icons/hicolor/32x32/apps/gnome-disks.png"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="File Manager" icon="/home/davide/.local/share/icons/Vertex-Icons/apps/96/system-file-manager.svg"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="KeePass Password Safe" icon="/usr/share/icons/hicolor/32x32/apps/keepass.png"><action name="Execute"><command><![CDATA[keepass]]></command></action></item>
    <item label="Leafpad" icon="/usr/share/pixmaps/leafpad.png"><action name="Execute"><command><![CDATA[leafpad]]></command></action></item>
    <item label="Root Terminal" icon="/usr/share/pixmaps/gksu-root-terminal.png"><action name="Execute"><command><![CDATA[gksu -l gnome-terminal]]></command></action></item>
    <item label="Run Program..." icon="/home/davide/.local/share/icons/Arc_fix/actions/96/system-run.svg"><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Terminal Emulator" icon="/home/davide/.local/share/icons/Flattr/apps/64/utilities-terminal.svg"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Thunar File Manager" icon="/usr/share/icons/hicolor/64x64/apps/Thunar.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Winetricks" icon="/usr/share/icons/hicolor/scalable/apps/winetricks.svg"><action name="Execute"><command><![CDATA[winetricks --gui]]></command></action></item>
  </menu>
  <menu id="Development" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/32/applications-development.svg" label="Development">
    <item label="CMake" icon="/usr/share/icons/hicolor/32x32/apps/CMakeSetup.png"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Geany" icon="/usr/share/icons/hicolor/32x32/apps/geany.png"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
  </menu>
  <menu id="Games" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/24/applications-games.png" label="Games">
    <item label="Steam (Native)" icon="/usr/share/pixmaps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/usr/share/pixmaps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
  </menu>
  <menu id="Multimedia" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/96/applications-multimedia.svg" label="Multimedia">
    <item label="Kodi" icon="/usr/share/icons/hicolor/32x32/apps/kodi.png"><action name="Execute"><command><![CDATA[kodi]]></command></action></item>
    <item label="mpv Media Player" icon="/usr/share/icons/hicolor/32x32/apps/mpv.png"><action name="Execute"><command><![CDATA[mpv --player-operation-mode=pseudo-gui --]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/usr/share/icons/hicolor/32x32/apps/qv4l2.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
  </menu>
  <menu id="Network" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/applications-internet.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/home/davide/.local/share/icons/Arc_fix/devices/96/network-wired.png"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/home/davide/.local/share/icons/Arc_fix/devices/96/network-wired.png"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Firefox Beta" icon="/usr/share/icons/hicolor/32x32/apps/firefox-beta.png"><action name="Execute"><command><![CDATA[/opt/firefox-beta/firefox]]></command></action></item>
    <item label="Firefox" icon="/usr/share/icons/hicolor/32x32/apps/firefox.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="Google Chrome" icon="/usr/share/icons/hicolor/32x32/apps/google-chrome.png"><action name="Execute"><command><![CDATA[/usr/bin/google-chrome-stable]]></command></action></item>
    <item label="HexChat" icon="/usr/share/icons/hicolor/scalable/apps/hexchat.svg"><action name="Execute"><command><![CDATA[hexchat --existing]]></command></action></item>
    <item label="Mail Reader" icon="/home/davide/.local/share/icons/Flattr/apps/64/internet-mail.svg"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Steam (Native)" icon="/usr/share/pixmaps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/usr/share/pixmaps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="Transmission" icon="/usr/share/pixmaps/transmission.png"><action name="Execute"><command><![CDATA[transmission-gtk]]></command></action></item>
    <item label="Web Browser" icon="/home/davide/.local/share/icons/Flattr/apps/64/web-browser.svg"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
    <item label="Wicd" icon="/usr/share/pixmaps/wicd-gtk.xpm"><action name="Execute"><command><![CDATA[/usr/bin/wicd-client]]></command></action></item>
  </menu>
  <menu id="Office" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/32/applications-office.svg" label="Office">
    <item label="Zathura" icon=""><action name="Execute"><command><![CDATA[zathura]]></command></action></item>
  </menu>
  <menu id="Settings" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/applications-accessories.png" label="Settings">
    <item label="Accessibility" icon="/home/davide/.local/share/icons/Arc_fix/apps/96/preferences-desktop-accessibility.png"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Appearance" icon="/home/davide/.local/share/icons/Flattr/apps/64/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="Connman Settings" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/preferences-system-network.png"><action name="Execute"><command><![CDATA[connman-gtk]]></command></action></item>
    <item label="Customize Look and Feel" icon="/home/davide/.local/share/icons/Flattr/apps/64/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Desktop" icon="/home/davide/.local/share/icons/Arc_fix/apps/96/preferences-desktop-wallpaper.png"><action name="Execute"><command><![CDATA[xfdesktop-settings]]></command></action></item>
    <item label="Display" icon="/home/davide/.local/share/icons/Arc_fix/devices/96/video-display.png"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="File Manager" icon="/home/davide/.local/share/icons/Vertex-Icons/apps/96/system-file-manager.svg"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Keyboard" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/32/preferences-desktop-keyboard.svg"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="MIME Type Editor" icon="/home/davide/.local/share/icons/Arc_fix/mimetypes/96/application-x-executable.png"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Mouse and Touchpad" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/96/preferences-desktop-peripherals.svg"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Network Connections" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/preferences-system-network.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Oomox: customize icons and GTK themes" icon="/home/davide/.local/share/icons/Flattr/apps/64/preferences-desktop-theme.svg"><action name="Execute"><command><![CDATA[oomox-gui]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel" icon="/usr/share/icons/hicolor/32x32/apps/xfce4-panel.png"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager" icon="/usr/share/icons/hicolor/scalable/status/xfce4-power-manager-settings.svg"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications" icon="/usr/share/icons/hicolor/24x24/apps/preferences-desktop-default-applications.png"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Privilege granting" icon="/usr/share/pixmaps/gksu.png"><action name="Execute"><command><![CDATA[gksu-properties]]></command></action></item>
    <item label="Session and Startup" icon="/usr/share/icons/hicolor/128x128/apps/xfce4-session.png"><action name="Execute"><command><![CDATA[xfce4-session-settings]]></command></action></item>
    <item label="Settings Editor" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/preferences-system.png"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager" icon="/home/davide/.local/share/icons/Vertex-Icons/categories/96/preferences-desktop.svg"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Tint2 Settings" icon="/usr/share/icons/hicolor/scalable/apps/tint2conf.svg"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Window Manager Tweaks" icon="/usr/share/icons/hicolor/scalable/apps/wmtweaks.svg"><action name="Execute"><command><![CDATA[xfwm4-tweaks-settings]]></command></action></item>
    <item label="Window Manager" icon="/usr/share/icons/hicolor/scalable/apps/xfwm4.svg"><action name="Execute"><command><![CDATA[xfwm4-settings]]></command></action></item>
    <item label="Workspaces" icon="/usr/share/icons/hicolor/scalable/apps/xfce4-workspaces.svg"><action name="Execute"><command><![CDATA[xfwm4-workspace-settings]]></command></action></item>
  </menu>
  <menu id="System" icon="/home/davide/.local/share/icons/Arc_fix/categories/96/applications-system.png" label="System">
    <item label="Avahi Zeroconf Browser" icon="/home/davide/.local/share/icons/Arc_fix/devices/96/network-wired.png"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/usr/share/icons/hicolor/64x64/apps/Thunar.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="GParted" icon="/usr/share/icons/hicolor/32x32/apps/gparted.png"><action name="Execute"><command><![CDATA[/usr/bin/gparted_polkit]]></command></action></item>
    <item label="Htop" icon="/usr/share/pixmaps/htop.png"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Log Out" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/system-log-out.svg"><action name="Execute"><command><![CDATA[xfce4-session-logout]]></command></action></item>
    <item label="Oracle VM VirtualBox" icon="/usr/share/icons/hicolor/32x32/mimetypes/virtualbox.png"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="ranger" icon="/home/davide/.local/share/icons/Flattr/apps/64/utilities-terminal.svg"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Termite" icon="/home/davide/.local/share/icons/Flattr/apps/64/utilities-terminal.svg"><action name="Execute"><command><![CDATA[termite]]></command></action></item>
    <item label="Thunar File Manager" icon="/usr/share/icons/hicolor/64x64/apps/Thunar.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/usr/share/icons/hicolor/scalable/apps/tint2.svg"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="Xfce Terminal" icon="/home/davide/.local/share/icons/Flattr/apps/64/utilities-terminal.svg"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
  </menu>
  <separator/>
  <menu id="Advanced Settings" icon="" label="Advanced Settings">
    <item label="Conky RC" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-x-source.svg"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-x-source.svg"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="Obmenu-Generator" icon="" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-x-source.svg"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-x-source.svg"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon=""><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon=""><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon=""><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon=""><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh Icon Set" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/gtk-refresh.svg"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="Openbox" icon="/usr/share/pixmaps/openbox.png" label="Openbox">
    <item label="Reconfigure Openbox" icon="/usr/share/pixmaps/openbox.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
    <item label="Openbox Autostart" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/shellscript.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-xml.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/home/davide/.local/share/icons/Vertex-Icons/mimetypes/96/text-xml.svg"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/lock.svg"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/home/davide/.local/share/icons/Arc_fix/actions/96/exit.svg"><action name="Exit"/></item>
  </menu>
</openbox_menu>
