!  ██     ██                                                                        
! ░░██   ██                                                                         
!  ░░██ ██   ██████  █████   ██████  ██████  ██   ██ ██████  █████   █████   ██████ 
!   ░░███   ░░██░░█ ██░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░█ ██░░░██ ██░░░██ ██░░░░  
!    ██░██   ░██ ░ ░███████░░█████ ░██   ░██░██  ░██ ░██ ░ ░██  ░░ ░███████░░█████  
!   ██ ░░██  ░██   ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░░░░░██ 
!  ██   ░░██░███   ░░██████ ██████ ░░██████ ░░██████░███   ░░█████ ░░██████ ██████  
! ░░     ░░ ░░░     ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░░░░   

!SETTINGS

!
! URXVT
!

URxvt.font: xft:Knack Nerd Font:style=Regualr:size=10
URxvt.fontbold: xft:Knack Nerd Font:style=Bold:size=10

! URxvt settings
!URxvt*dynamicColors: on
URxvt.internalBorder: 15
URxvt*lineSpace: 1
URxvt*scrollBar: false
!URxvt*scrollColor: #131415
URxvt.geometry: 80x18
URxvt*saveLines: 1000
URxvt*cursorUnderline: false
!URxvt*cursorColor: #d79921
URxvt*cursorBlink: true
URxvt*underlineColor: #ebdbb2
URxvt*allow_bold: true
URxvt*termName: rxvt-unicode

! Disables scrollback buffer in secondary screen
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Clickable and colorful URLs
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold fg16

! Tabs colors
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
!URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! xst settings
st.shell: /usr/bin/zsh
st.font: Envy Code R:size=10

! Xterm settings

xterm*faceName: xos4 Terminess Powerline:style=Regular:size=10
xterm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)



! Colors

#include ".colors/nord"



! Cursor theme
Xcursor.theme: OSX-ElCap

! !cursor
!*cursorColor: #d79921

! Xft settings
Xft.dpi: 100
!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
!Xft.lcdfilter:  lcdlight
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! }}}
