[Desktop Entry]
Type=Application
Exec=fusuma -d
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=fusuma
Name=fusuma
Comment[en_US]= Multitouch gestures
Comment= Multitouch gestures
